/*라이브러리 변형*/
.pei_flex {
  column-gap: 24px !important;
}
.pei_border:hover {
  border-bottom: 1px solid black;
}
.pei_listwidth_active {
  border: none !important;
  background-color: #efefef;
  /* border-radius: 0 !important;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important; */
}
.pei_border {
  background-color: transparent !important;
}

/*common*/
.translate-xy-50 {
  transform: translate(-50%, -50%);
}

/*input*/
input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../public/img/checkoff.svg");
  background-size: 24px 24px;
}
input[type="checkbox"]:checked {
  width: 24px;
  height: 24px;
  border-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../public/img/checkon.svg");
  background-size: 24px 24px;
}
input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.5px solid gainsboro;
  border-radius: 50%;
}
input[type="radio"]:checked {
  border-color: transparent;
  background-repeat: no-repeat;
  background-color:black;
}